.login-container{
    justify-content: center;
}

 
#accordionSidebar{
    background-color:rgb(0,36,58); 
    background-image: linear-gradient(rgba(255,0,0,0) 0%,rgba(255,0,0,0) 0%);
}

.user-icon-bar{
    font-size: 25px;;
}